<a href="https://colab.research.google.com/github/MADHU-55/Data-handling-and-visualization/blob/main/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
a=[1,7.2,2]
myvar=pd.Series(a)
print(myvar)

0    1.0
1    7.2
2    2.0
dtype: float64

In [17]:
print(myvar[0])

1.0

In [18]:
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)
print(myvar["y"])#return value of y

x    1
y    7
z    2
dtype: int64
7

In [19]:
thisdict={"brand":"ford","model":"Mustang","year":1964}
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
import pandas as pd
Calories={"day1":490,"day2":380,"day3":390}
myvar=pd.Series(Calories)
print(myvar)

day1    490
day2    380
day3    390
dtype: int64

In [ ]:
S1=pd.Series([-3,-1,1,3,5,'gaurav',7.3])
S1[:2]

0    -3
1    -1
dtype: object

In [ ]:
print(S1[[2,1,0]])

2     1
1    -1
0    -3
dtype: object

In [ ]:
type(S1)

pandas.core.series.Series

In [ ]:
S=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(S['a'])

1

In [5]:
import pandas as pd
data={"Calories":[420,380,390],
      "Duration":[50,40,45]}
df=pd.DataFrame(data)
print(df)

   Calories  Duration
0       420        50
1       380        40
2       390        45

In [6]:
data={'Nmae':['Tom','Jack','Steve','Ricky'],
      'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Nmae  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [12]:
df['ID']=[10,10,30,20]
print(df)

        Nmae  Age  ID
rank1    Tom   28  10
rank2   Jack   34  10
rank3  Steve   29  30
rank4  Ricky   42  20

In [13]:
df['ID'].unique()

array([10, 30, 20])

In [15]:
df['ID'].value_counts()

10    2
30    1
20    1
Name: ID, dtype: int64